[submodule "references/pluralsight-ckad"]
	path = references/pluralsight-ckad
	url = https://github.com/nigelpoulton/ckad.git
[submodule "references/k8s-the-hard-way"]
	path = references/k8s-the-hard-way
	url = https://github.com/mmumshad/kubernetes-the-hard-way
